<form action="/lists/<%= @list.id %>" method="post">
  <label for="item_name">New Item Name</label>
  <input id="item_name" name="item[name]" type="text" value="<%= @item.name %>">
  <button class="button primary expand tiny">Add Item</a>
</form>