<form action="/items/<%= @item.id %>" method="post">
  <label for="item_name">Edit an item on <%= @list.name %></label>
  <input id="item_name" name="item[name]" type="text" value="<%= @item.name %>">
  <button class="button expand tiny">Update Item</a>
  <a href="/lists/<%= @list.id %>" class="button expand tiny"><span class="close-reveal-modal">Return</span></a>
</form> 