<form action="/lists" method="post">
  <label for="list_name">New List Name</label>
  <input id="list_name" name="list[name]" type="text" value="<%= @list.name %>">
  <button class="button tiny">Add</a>
</form>