<div class="row">
  <div class="small-6 large-centered columns">
    <ul class="stack button-group">
      <% @lists.each do |list| %>
        <li><a href="#" class="button"><%= list.name %></a></li>
      <% end %>
    <li><a href="#" class="button expand">Add List</a></li>
    </ul>


  </div>
</div>