<form action="/items/<%= @item.id %>" method="post">
  <label for="item_name">Edit an item on <%= @list.name %></label>
  <input id="item_name" name="item[name]" type="text" value="<%= @item.name %>">
  <input name="_method" type="hidden" value="patch" />
  <button class="button expand tiny">Update Item</button>
  <a href="/lists/<%= @list.id %>" class="button secondary expand tiny">Return</a>
</form> 