<div id="edit_item" class="reveal-modal tiny" data-reveal>
  <%= render 'items/edit_item_form', :item => @item %>
</div>

<script>
  $(document).ready(function(){$('#edit_item').foundation('reveal', 'open')});
</script>

<%= render 'lists/show_list', :@list => @list %>