<% if object.errors.any? %>
  <li>
    <% if @list.id %>
      <a href="/lists/<%= @list.id %>" class="button alert split">
    <% else %>
      <a href="/" class="button alert split">
    <% end %>
    <% object.errors.full_messages.each do |message| %>
        <ul>
          <li><%= message %></li>
        </ul>
      </a>
    <% end %>
  </li>
<% end %>